@import "../../vars.css";

/* Container Styles */
.container {
  position: relative;
  border-radius: 15px;
  padding: 30px;
  margin-top: 10px;
  z-index: 1;
}

/* Title Animation */
.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-align: center;
  text-transform: uppercase;
}



/* Content Layout */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

/* Skills Section */
.skills {
  width: 100%;
  display: flex;
  padding: 0% 10%;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--color-text);
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skillImageContainer {
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.8), var(--color-secondary) 70%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  box-shadow: inset -10px -10px 15px rgba(0, 0, 0, 0.4),
              inset 5px 5px 10px rgba(255, 255, 255, 0.5),
              0 10px 20px rgba(0, 0, 0, 0.6);
  transition: transform 3s ease-in-out, box-shadow 3s ease-in-out;
}

/* 3D Hover Effect */
.skillImageContainer:hover {
  transform: perspective(500px) rotateX(360deg) rotateY(360deg) translateZ(10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5), inset 0 -8px 12px rgba(0, 0, 0, 0.3);
}

.skillImageContainer img {
  width: 70px;
}

.skill p {
  font-size: 22px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

/* About Items Section */
.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 20px;
  background-image: linear-gradient(90deg, rgba(27, 29, 58, 0.42) 0%, rgba(42, 46, 66, 0.582) 100%);
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 22px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 20px;
}

/* Image inside List */
li img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/* Responsive Design */
@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .skills {
    width: 100%;
    justify-content: center;
  }

  .aboutItems {
    width: 100%;
    margin-top: 20px;
    gap: 20px;
  }

  .aboutItem {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
  }

  li img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .aboutItem h3 {
    font-size: 20px;
  }

  .aboutItem p {
    font-size: 18px;
  }
}
